.App {
  text-align: center;
  min-height: 100vh;
  max-width: 1440px;
  margin:auto;
  background: url(./images/bg-top.svg), url(./images/bg-bottom.svg) ;
  background-position: right top, left bottom;
  background-repeat: no-repeat;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


